<doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tom O'Leary's Website</title>
        <link rel="stylesheet" href="/style/style.css" type="text/css"> 
        <link rel="shortcut icon" type="image/jpg" href="images/favicon2.jpg"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/projects.html">Projects</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

    </body>
</html>
